<div class="row">
  <div class="col-md-12 offset-md-0">
    <div class="card mt-4">
      <div class="card-header ">
        <h1>Profile</h1>
        <div class="card card-body">
          {{#each user._doc}}<br>
            <p><b>{{@key}}:</b> {{this}}</p>
          {{/each}}
          
          <pre>{{user}}</pre>

        </div>
      </div>
    </div>
  </div>