
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card mt-4">
      <div class="card-header ">
        <h3>Signin</h3>
      </div>
      <div class="card-body">
        <form action="/signin" method="POST">
          <div class="form-group">
            <input class="form-control" type="text" name="email" placeholder="Email" />
          </div>
          <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" />
          </div>
          {{#if signinMessage}}
            <div class="alert alert-danger">{{signinMessage}}</div>
          {{/if}}
          <button class="btn btn-primary btn-block mt-4" type="submit">Login</button>
        </form>
        <div class="mt-2"> <a href="/reset"> I forget my pass</a></div>
        <p class="mt-4 ">Have you got an account? <a href="/signup"> Singup </a> </p>
      </div>
    </div>
  </div>
</div>